@import "../../variables.scss";

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  .product {
    margin-bottom: 4rem;
    width: 30%;
    border-radius: 1rem;
    background-color: white;
    .product-img {
      padding: 2.9rem 4.6rem;
    }
    .productInfo {
      padding: 1.7rem 2rem;
      display: flex;
      justify-content: space-between;
      .left-info {
        .price {
          font-family: "Inter";
          font-weight: 600;
          font-size: 1.8rem;
          span {
            margin-left: 0.8rem;
            font-weight: 400;
            color: #8b96a5;
            text-decoration-line: strikethrough;
            font-size: 1.6rem;
            text-decoration: line-through;
          }
        }
        .stars {
          margin: 1.1rem 0;
          font-size: 1.6rem;
          color: #ff9017;
          span {
            margin-left: 0.8rem;
          }
        }
        .text-info {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.2px;
        }
      }
      .right-info {
        width: 5rem;
        height: 4rem;
        border: 1px solid #e3e8ee;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 2rem;
          color: $site-color;
        }
      }
    }
  }
}
